body,
h1 {
  margin: 0;
}
a {text-decoration: none;}

/*
	3. body에 백그라운드 이미지를 붙여주세요.
	서체는 arial, 서체 크기는 0.9em

	4. 버튼요소를 꾸며주세요.

	5. 버튼Hover시를 꾸며주세요.

	6. 팝업창을 만들어주세요.

	7. .window.open일때의 css를 작성하세요.
*/

body {
	background-image: url('bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	font-size:0.9em;
}

.opener {
	position:absolute;
	width: 300px;
	height: 300px;
	background-color: #fff;
	color:#ecebe7;
	left:10%;
	top:50%;
	transform: translateY(-50%);
	border-radius: 100%;

	text-align:center;
	line-height: 300px;
	font-size:30px;
	font-weight: 700;
	letter-spacing: 4px;

	transition: all 0.5s ease-out;
}

.opener:hover {
	background-color: #000;
	letter-spacing: 30px;
	text-indent: 30px;
}

.window {
	width:500px;
	height: 300px;
	background-image: url('modal-bg.png');
	border:5px solid black;

	position:absolute;
	left:50%;
	top:-20%;
	transform: translate(-50%,-50%);

	/* display: none;
	opacity: 0; */

	transition: all 1s ease-out;
}

.window.open {
	top:50%;
	/* display: block;
	opacity: 1; */
}

.window h1 {
	background-color: rgba(255,255,255,0.8);
	height: 100px;
	line-height: 100px;
	border-bottom:1px solid #dadada;
	text-align: center;
}

.window .button-set {
	position: absolute;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.8);

	width:100%;
	padding:10px 0;
	text-align: center;
}

.window .button-set a {
	display:inline-block;
	border:1px solid #fbb804;
	color:#fbb804;
	padding:0 20px;
	height: 40px;
	line-height: 40px;
}
.window .button-set a:hover {
	background-color:rgba(251,184,4,0.2);
}